In [3]:
#Librer√≠as
import pandas as pd
import matplotlib.pyplot as plt
import chardet

In [4]:
#Obtener el tipo de encode
with open("dataset.csv", "rb") as file:
    raw_data = file.read()
    result = chardet.detect(raw_data)
    encoding = result['encoding']

In [5]:
#Cargar dataframe con el encode obtenido.
#low_memory para forzar a pandas a cargar el df antes de decidir el tipo de dato
df = pd.read_csv("dataset.csv", encoding = encoding, low_memory = False)
df.head()

,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRE,AREA DE CONOCIMIENTO,NIVEL,INSTITUCION DESTINO,ENTIDAD FEDERATIVA,GENERO
0,FERNANDEZ DE LARA,TORRES,PAOLA AYERIM,III. MEDICINA Y CS. DE LA SALUD,3. ESP,BUAP,PUEBLA,F
1,CASAS,ACEVEDO,AARON,VII. INGENIERIAS,2. MAE,IT DURANGO,DURANGO,M
2,ANTONIO,RUIZ,ABIF,VII. INGENIERIAS,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,MONTALVO,MARTINEZ,ABIGAIL,I. FISICO MATEMATICAS Y CS. DE LA TIERRA,2. MAE,INIFAP,JALISCO,F
4,COLIN,AGUILAR,ABILENE GISEH,II. BIOLOGIA Y QUIMICA,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [6]:
#Tipo de valor por columna
df.dtypes

APELLIDO PATERNO        object
APELLIDO MATERNO        object
NOMBRE                  object
AREA DE CONOCIMIENTO    object
NIVEL                   object
INSTITUCION DESTINO     object
ENTIDAD FEDERATIVA      object
GENERO                  object
dtype: object

In [7]:
#Rango de datos unicos por columna
print("Area de conocimiento")
df['AREA DE CONOCIMIENTO'].unique()

Area de conocimiento

array(['III. MEDICINA Y CS. DE LA SALUD', 'VII. INGENIERIAS',
       'I. FISICO MATEMATICAS Y CS. DE LA TIERRA',
       'II. BIOLOGIA Y QUIMICA', 'IV. HUMANIDADES Y CS. DE LA CONDUCTA',
       'VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 'V. CIENCIAS SOCIALES',
       nan], dtype=object)

In [8]:
print("Nivel")
df['NIVEL'].unique()

Nivel

array(['3. ESP', '2. MAE', '1. DOC', nan], dtype=object)

In [9]:
print("Ins. Destino")
df['INSTITUCION DESTINO'].unique()

Ins. Destino

array(['BUAP', 'IT DURANGO', 'SISTEMAS TECNICOS DE CONTROL', 'INIFAP',
       'AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ', 'ECOSUR', 'UAM',
       'UNIDAD DE SERVICIOS DE PATOLOGIA CLINICA', 'U GUADALAJARA',
       'IT ORIZABA', 'U GUANAJUATO',
       'INSTITUTO MEXICANO DE TECNOLOGIA DEL AGUA', 'UNAM', 'CIESAS',
       'CONACULTA', 'COLPOS', 'IPN', 'UA ZACATECAS',
       'CENTRO DE DERECHOS HUMANOS FRAY BARTOLOME DE LAS CASAS',
       'IT LEON', 'CINVESTAV', 'PROBAYES AMERICAS',
       'SECRETARIA  DE SALUD', 'UA BAJA CALIFORNIA',
       'SOFTEK GLOBAL EDESIGN', 'U VERACRUZANA', 'UA SAN LUIS POTOSI',
       'IT CELAYA', 'PRO NATURA', 'UA CIUDAD JUAREZ', 'IT TEPIC',
       'UA COAHUILA', 'LANIA', 'HOSPITAL GENERAL DR. MANUEL GEA GONZALEZ',
       'CETYS', 'CIO', 'COMERCIO JUSTO MEXICO', 'UA EDO MORELOS',
       'INAPESCA', 'UA NUEVO LEON', 'CIMAV', 'UA YUCATAN',
       'UA EDO HIDALGO', 'REUSSITE ADECCO', 'INCAN', 'UA CHIAPAS', 'MORA',
       'U COLIMA', 'CIMAT', 'UPN', 'INNSZ', 'CIAD',
       'CONSEJO PUEBLA DE LECTURA', 'UP PACHUCA', 'U DEL MAR',
       'UA CAMPECHE', 'UA TLAXCALA', 'UA CHAPINGO', 'IT LA LAGUNA',
       'COMITE DE DERECHOS HUMANOS FRAY PEDRO LORENZO DE LA NADA',
       'U ESTATAL SONORA', 'SECRETARIA DE LA FUNCION PUBLICA', 'CICESE',
       'U OCCIDENTE', 'CONEVAL', 'UA QUERETARO', 'CIQA', 'CIIDET',
       'ITESM', 'CENIDET', 'SEMARNAT', 'UIA-PUEBLA',
       'UA BAJA CALIFORNIA SUR', 'NUTEK', 'INECOL', 'FEMSA', 'UA SINALOA',
       'INBA', 'CIBNOR', 'UA EDO MEXICO', 'U JUAREZ EDO DURANGO',
       'UA BENITO JUAREZ OAXACA', 'NEMAK', 'UA AGUASCALIENTES', 'INAOE',
       'GOBIERNO DEL ESTADO DE CHIAPAS', 'INAH', 'UA CIUDAD MEXICO',
       'UIA',
       'INSTITUTO NACIONAL DE NEUROLOGIA Y NEUROCIRUGIA MANUEL VELASCO SUAREZ',
       'U QUINTANA ROO', 'CENTRO JURIDICO UNIVERSITARIO', 'COLMICH',
       'ISSSTE',
       'CENTRO DE INVESTIGACION Y DESARROLLO DE LOS RECURSOS NATURALES DE SONORA',
       'U JUAREZ AUT TABASCO', 'UA NAYARIT', 'CICY',
       'CENTRO NACIONAL DE METROLOGIA-CENAM', 'UA TAMAULIPAS',
       'HOSPITAL INFANTIL DE MEXICO FEDERICO GOMEZ',
       'INSTITUTO NACIONAL DE PSIQUIATRIA', 'IT SUPERIOR CALKINI',
       'MIRACLE BUSINESS NETWORK',
       'INSTITUTO DE OFTALMOLOGIA CONDE DE VALENCIANA', 'INSP', 'INEGI',
       'CENTRO DE INVESTIGACIONES BIOLOGICAS', 'ININ', 'ERAT', 'COLMEX',
       'MUNICIPIO DE SAN JERONIMO SOSOLA OAXACA',
       'OBSERVATORIO URBANO DE LEON', 'IT MORELIA', 'SAGARPA',
       'DISTRIBUIDORA DE MAQUINAS Y MUEBLES DE MERIDA', 'IT CHIHUAHUA',
       'U MICH SNH',
       'DIRECCION GENERAL DE EDUCACION SUPERIOR TECNOLOGICA',
       'UA CHIHUAHUA', 'XENPAL', 'IT TUXTLA GUTIERREZ', 'IT VERACRUZ',
       'IT MERIDA', 'GOBIERNO DEL ESTADO DE TABASCO',
       'CENTRO DE INVESTIGACION DE CHIAPAS', 'U SONORA', 'CIATEJ',
       'CIDESI', 'KERRY INGREDIENTS DE MEXICO', 'IT TIJUANA', 'IMSS',
       'EDUCACION SUPERIOR DE CELAYA', 'INER',
       'COMISION ESTATAL DE DERECHOS HUMANOS DE JALISCO',
       'CENTRO DEL CAMBIO GLOBAL Y LA SUSTENTABILIDAD EN EL SURESTE-CCGSS',
       'SEP', 'INSTITUTO DE INVESTIGACIONES CIENTIFICAS', 'UT LA MIXTECA',
       'U CIENCIAS Y ARTES CHIAPAS', 'COLSON', 'IT SUPERIOR MULEGE',
       'COLSAN', 'UDLA',
       'CENTRO DE DERECHOS HUMANOS DE LA MONTANA TLACHINOLLAN',
       'INSTITUTO NACIONAL DE PEDIATRIA', 'COLEF',
       'HOSPITAL GENERAL DE MEXICO', 'ROBERT BOSCH SISTEMAS DE FRENOS',
       'GRANJAS CARROLL DE MEXICO', 'OTRASENDA', 'VENUN INMOBILIARIA',
       'INSTITUTO MEXICANO DEL TRANSPORTE', 'TESE', 'CIMMYT', 'MABE',
       'UA HIDALGO', 'LASFALTO',
       'INSTITUTO NACIONAL DE CARDIOLOGIA IGNACIO CHAVEZ',
       'SISTEMAS DE DISENO E INGENIERIAS', 'IPICYT', 'UP CHIAPAS',
       'MEDICA SUR', 'CIDETEQ', 'GOBIERNO DEL ESTADO DE YUCATAN',
       'IT SUPERIOR SINALOA',
       'INSTITUTO DE INVESTIGACIONES ELECTRICAS-IIE', 'UPAEP', 'CIATEC',
       'COLMEXIQUENSE', 'IT CIUDAD MADERO', 'CIDE',
       'CENTRO DE INVESTIGACIONES SOCIOLOGIA Y TECNOLOGIA',
       'EATON TECHNOLOGIES', 'IT TLAJOMULCO',
       'CENTRO DE INVESTIGACIONES Y DESAROLLO CONDUMEX',
       'OAXACA AEROSPACE', 'U DE LA CIENEGA EDO MICHOACAN',
       'U PAPALOAPAN', 'AYUNTAMIENTO MUNICIPAL DE TEXCOCO',
       'HOSPITAL ABC', 'INSTITUTO NACIONAL DE PEDIATRIA-INP',
       'MANUFACTURERA DE CIGUENALES DE MEXICO',
       'CONGRESO DEL ESTADO DE SONORA', 'U DEL CARIBE',
       'GOBIERNO DEL ESTADO DE ZACATECAS', 'IMP', 'IT SONORA',
       'SECRETARIA DE SALUD', 'TAMSA', 'INSTITUTO NACIONAL DE GERIATRIA',
       'HERMANOS EN EL CAMINO ALBERGUE DE MIGRANTES', 'UA GUERRERO',
       'ZOOLOGICO GUADALAJARA', 'IT MAZATLAN', 'FLACSO',
       'EXCARE LOS CABOS', 'CENAM',
       'INSTITUTO INTERAMERICANO DE COOPERACION PARA LA AGRICULTURA',
       'COMISION NACIONAL DE AREAS NATURALES PROTEGIDAS-CONANP',
       'IT ENSENADA', 'ITESO', 'IT TUXTEPEC', 'VIZIC TECHNOLOGIES',
       'ELVAN DE MEXICO', 'MINA VIRGEN DEL CARMEN', 'MEXFAM', 'ITAM',
       'SOFTLOGIK', nan], dtype=object)

In [10]:
print("Entidad Federativa")
df['ENTIDAD FEDERATIVA'].unique()

Entidad Federativa

array(['PUEBLA', 'DURANGO', 'JALISCO', 'BAJA CALIFORNIA SUR', 'CHIAPAS',
       'DISTRITO FEDERAL', 'VERACRUZ', 'GUANAJUATO', 'MORELOS',
       'QUERETARO', 'MICHOACAN', 'ESTADO DE MEXICO', 'ZACATECAS',
       'BAJA CALIFORNIA', 'SAN LUIS POTOSI', 'YUCATAN', 'CHIHUAHUA',
       'NAYARIT', 'COAHUILA', 'NUEVO LEON', 'HIDALGO', 'COLIMA', 'OAXACA',
       'CAMPECHE', 'TLAXCALA', 'SONORA', 'SINALOA', 'AGUASCALIENTES',
       'QUINTANA ROO', 'TABASCO', 'TAMAULIPAS', 'GUERRERO', nan],
      dtype=object)

In [11]:
print("Genero")
df['GENERO'].unique()

Genero

array(['F', 'M', nan], dtype=object)

In [12]:
#Cambiar el nombre de las columnas mapeando
mapear_columnas = {
    'APELLIDO PATERNO' : 'Apellido Paterno',
    'APELLIDO MATERNO' : 'Apellido Materno',
    'NOMBRE' : 'Nombre',
    'AREA DE CONOCIMIENTO' : 'Area de Conocimiento',
    'NIVEL' : 'Nivel',
    'INSTITUCION DESTINO' : 'Institucion de Destino',
    'ENTIDAD FEDERATIVA' : 'Entidad Federativa',
    'GENERO' : 'Genero',
}

In [13]:
df = df.rename(columns=mapear_columnas)
df.head()

,Apellido Paterno,Apellido Materno,Nombre,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
0,FERNANDEZ DE LARA,TORRES,PAOLA AYERIM,III. MEDICINA Y CS. DE LA SALUD,3. ESP,BUAP,PUEBLA,F
1,CASAS,ACEVEDO,AARON,VII. INGENIERIAS,2. MAE,IT DURANGO,DURANGO,M
2,ANTONIO,RUIZ,ABIF,VII. INGENIERIAS,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,MONTALVO,MARTINEZ,ABIGAIL,I. FISICO MATEMATICAS Y CS. DE LA TIERRA,2. MAE,INIFAP,JALISCO,F
4,COLIN,AGUILAR,ABILENE GISEH,II. BIOLOGIA Y QUIMICA,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [14]:
#Convertir los tipos de valor de object a categoricos
columnas_categoricas = ['Apellido Paterno', 'Apellido Materno', 'Nombre', 
                       'Area de Conocimiento', 'Nivel', 'Institucion de Destino', 
                       'Entidad Federativa', 'Genero']

df[columnas_categoricas] = df[columnas_categoricas].apply(lambda x: x.astype('category'))

In [15]:
#Confirmando cambios
df.dtypes

Apellido Paterno          category
Apellido Materno          category
Nombre                    category
Area de Conocimiento      category
Nivel                     category
Institucion de Destino    category
Entidad Federativa        category
Genero                    category
dtype: object

In [16]:
df.head()

,Apellido Paterno,Apellido Materno,Nombre,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
0,FERNANDEZ DE LARA,TORRES,PAOLA AYERIM,III. MEDICINA Y CS. DE LA SALUD,3. ESP,BUAP,PUEBLA,F
1,CASAS,ACEVEDO,AARON,VII. INGENIERIAS,2. MAE,IT DURANGO,DURANGO,M
2,ANTONIO,RUIZ,ABIF,VII. INGENIERIAS,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,MONTALVO,MARTINEZ,ABIGAIL,I. FISICO MATEMATICAS Y CS. DE LA TIERRA,2. MAE,INIFAP,JALISCO,F
4,COLIN,AGUILAR,ABILENE GISEH,II. BIOLOGIA Y QUIMICA,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [17]:
#Cantidad de valores nulos
df.isnull().sum()

Apellido Paterno          1047291
Apellido Materno          1047297
Nombre                    1047291
Area de Conocimiento      1047291
Nivel                     1047291
Institucion de Destino    1047291
Entidad Federativa        1047291
Genero                    1047291
dtype: int64

In [18]:
df.shape

(1048567, 8)

In [19]:
df.tail()

,Apellido Paterno,Apellido Materno,Nombre,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
1048562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#Existe filas totalmente nulas, por lo cual hay que eliminarlas
df = df.dropna()

In [21]:
#Confirmando
df.tail()

,Apellido Paterno,Apellido Materno,Nombre,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
1271,LEAL,RODRIGUEZ,ROBERTO,VII. INGENIERIAS,2. MAE,CENTRO DE INVESTIGACIONES Y DESAROLLO CONDUMEX,DISTRITO FEDERAL,M
1272,VASQUEZ,GUTIERREZ,ROMALDA,V. CIENCIAS SOCIALES,2. MAE,CINVESTAV,DISTRITO FEDERAL,F
1273,PACHECO,COETO,ROSARIO,VII. INGENIERIAS,2. MAE,UNAM,DISTRITO FEDERAL,F
1274,RENTERIA,FLORES,VIRGINIA,IV. HUMANIDADES Y CS. DE LA CONDUCTA,2. MAE,UA NAYARIT,NAYARIT,F
1275,JARVIO,HERNANDEZ,YADIRA,VII. INGENIERIAS,2. MAE,SOFTLOGIK,ZACATECAS,M

In [22]:
df = df.drop(['Apellido Paterno', 'Apellido Materno', 'Nombre'], axis = 1)

In [23]:
df.head()

,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
0,III. MEDICINA Y CS. DE LA SALUD,3. ESP,BUAP,PUEBLA,F
1,VII. INGENIERIAS,2. MAE,IT DURANGO,DURANGO,M
2,VII. INGENIERIAS,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,I. FISICO MATEMATICAS Y CS. DE LA TIERRA,2. MAE,INIFAP,JALISCO,F
4,II. BIOLOGIA Y QUIMICA,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [24]:
mapear_areas_conocimiento = {
    'I. FISICO MATEMATICAS Y CS. DE LA TIERRA' : 'Fisico Matematicas y CS. De la Tierra',
    'II. BIOLOGIA Y QUIMICA' : 'Biologia y Quimica',
    'III. MEDICINA Y CS. DE LA SALUD' : 'Medicina y CS. De la Salud',
    'IV. HUMANIDADES Y CS. DE LA CONDUCTA' : 'Humanidades y CS. De la Conducta', 
    'V. CIENCIAS SOCIALES' : 'Ciencias Sociales',
    'VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS' : 'Biotecnologia y CS. Agropecuarias',
    'VII. INGENIERIAS' : 'Ingenierias'
}

In [25]:
df['Area de Conocimiento'] = df['Area de Conocimiento'].map(mapear_areas_conocimiento)

In [26]:
df.head()

,Area de Conocimiento,Nivel,Institucion de Destino,Entidad Federativa,Genero
0,Medicina y CS. De la Salud,3. ESP,BUAP,PUEBLA,F
1,Ingenierias,2. MAE,IT DURANGO,DURANGO,M
2,Ingenierias,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,Fisico Matematicas y CS. De la Tierra,2. MAE,INIFAP,JALISCO,F
4,Biologia y Quimica,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [27]:
mapear_nivel = {
    '3. ESP' : 'Especialidad', 
    '2. MAE' : 'Maestria', 
    '1. DOC' : 'Doctorado'
}

In [ ]:
df['Nivel'] = df['Nivel'].map(mapear_nivel)