In [1]:
#Librer√≠as
import pandas as pd
import matplotlib.pyplot as plt
import chardet

In [2]:
#Obtener el tipo de encode
with open("dataset.csv", "rb") as file:
    raw_data = file.read()
    result = chardet.detect(raw_data)
    encoding = result['encoding']

In [3]:
#Cargar dataframe con el encode obtenido.
#low_memory para forzar a pandas a cargar el df antes de decidir el tipo de dato
df = pd.read_csv("dataset.csv", encoding = encoding, low_memory = False)
df.head()

,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRE,AREA DE CONOCIMIENTO,NIVEL,INSTITUCION DESTINO,ENTIDAD FEDERATIVA,GENERO
0,FERNANDEZ DE LARA,TORRES,PAOLA AYERIM,III. MEDICINA Y CS. DE LA SALUD,3. ESP,BUAP,PUEBLA,F
1,CASAS,ACEVEDO,AARON,VII. INGENIERIAS,2. MAE,IT DURANGO,DURANGO,M
2,ANTONIO,RUIZ,ABIF,VII. INGENIERIAS,2. MAE,SISTEMAS TECNICOS DE CONTROL,PUEBLA,M
3,MONTALVO,MARTINEZ,ABIGAIL,I. FISICO MATEMATICAS Y CS. DE LA TIERRA,2. MAE,INIFAP,JALISCO,F
4,COLIN,AGUILAR,ABILENE GISEH,II. BIOLOGIA Y QUIMICA,2. MAE,AGENCIA ALEMANA DE COOPERACION TECNICA-GIZ,BAJA CALIFORNIA SUR,F

In [4]:
#Tipo de valor por columna
df.dtypes

APELLIDO PATERNO        object
APELLIDO MATERNO        object
NOMBRE                  object
AREA DE CONOCIMIENTO    object
NIVEL                   object
INSTITUCION DESTINO     object
ENTIDAD FEDERATIVA      object
GENERO                  object
dtype: object

In [8]:
#Rango de datos unicos por columna
print("Area de conocimiento")
df['AREA DE CONOCIMIENTO'].unique()

Area de conocimiento

array(['III. MEDICINA Y CS. DE LA SALUD', 'VII. INGENIERIAS',
       'I. FISICO MATEMATICAS Y CS. DE LA TIERRA',
       'II. BIOLOGIA Y QUIMICA', 'IV. HUMANIDADES Y CS. DE LA CONDUCTA',
       'VI. BIOTECNOLOGIA Y CS. AGROPECUARIAS', 'V. CIENCIAS SOCIALES',
       nan], dtype=object)

In [9]:
print("Nivel")
df['NIVEL'].unique()

Nivel

array(['3. ESP', '2. MAE', '1. DOC', nan], dtype=object)

In [ ]:
#Cambiar el nombre de las columnas mapeando
mapear_columnas = {
    'APELLIDO PATERNO' : 'Apellido Paterno',
    'APELLIDO MATERNO' : 'Apellido Materno',
    'NOMBRE' : 'Nombre',
    'AREA DE CONOCIMIENTO' : 'Area de Conocimiento',
    'NIVEL' : 'Nivel',
    'INSTITUCION DESTINO' : 'Institucion de Destino',
    'ENTIDAD FEDERATIVA' : 'Entidad Federativa',
    'GENERO' : 'Genero',
}

In [ ]:
df = df.rename(columns=mapear_columnas)
df.head()